{% extends "base.html" %} {% block title %}Yelp!{% endblock %} {% block body %}
<form action="/search">
    <div class="ui huge icon input search">
        <i class="search icon"></i>
        <input name="location" type="text" placeholder="Search...">
    </div>
</form>
{% if businesses %}

<div class="ui special cards centered">
    {% for item in businesses %}

    <div class="card">
        <div class="{% if search_page %} blurring dimmable {% endif %} image">
            {% if search_page %}
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <form action="/save" method="post">
                            <input name="id" type="hidden" value="{{item.id}}"/>
                            <button type="submit" class="ui inverted button">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <img src="{{item.image_url}}">
        </div>

        <div class="content">
            <div class="header">{{ item.name }}</div>
            <div class="description">
                {{ item.description }}
            </div>
        </div>
        <div class="extra content">
      <span class="center floated">
        <img src="{{item.rating}}" alt=""/>
      </span>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if search_page %}
<script type="text/javascript">
      $('.special.cards .image').dimmer({
        on: 'hover'
      });
</script>
{% endif %}
{% endblock %}
